<div>
		<if condition="$temp_tid eq 1 ">
			<div class = "text11">
				<div class = "text11_title">
					<p>关于我们</p>
				</div>
				<div class = "text11_word_about">
					<br>
					<p>Project OpenTrip by StephenGao</p>
					<p>OpenTravel遵循Apache2开源协议发布</p>
					
					<p>个人网站:<a href="http://www.renwentech.com">www.renwentech.com</a></p>
					<p>在人文和科技的道路上曲折前行</p>
					<p>微博:<a href="http://www.weibo.com/xufenggao">@超高校级的IT民工</a></p>
					<p>Github:<a href="https://github.com/stephengao666">stephengao666</a></p>
			    </div>
			</div>
		<elseif condition = "$temp_tid eq 2 "/>
			<div class = "text11">
				<div class = "text11_title">
					<p>联系我们</p>
				</div>
				<div class = "text11_word_about">
					<p>个人网站:<a href="http://www.renwentech.com">www.renwentech.com</a></p>
					<p>微博:<a href="http://www.weibo.com/xufenggao">@超高校级的IT民工</a></p>
					<p>email:<a href="mailto:gxfsuper@163.com">gxfsuper@163.com</a></p>
					<p>Github:<a href="https://github.com/stephengao666">stephengao666</a></p>
				</div>
			</div>
		<elseif condition = "$temp_tid eq 3 "/>
			<div class = "text11">
					<div class = "text11_title">
						<p>合作伙伴</p>
					</div>
					<div class = "text11_word">
					<p>该页面日后该页面日后放合作伙伴LOGO。</p>
					</div>
			</div>
		<elseif condition = "$temp_tid eq 4 "/>
			<div class = "text12">
				<div class = "text11_title">
					<p>服务条款</p>
				</div>
			
			
		<elseif condition = "$temp_tid eq 5 "/>
			<div class = "text11">
					<div class = "text11_title">
						<p>加入我们</p>
					</div>
			</div>
			
		<elseif condition = "$temp_tid eq 6 "/>
			<div class = "text13">
					<div class = "text11_title">
						<p>隐私声明</p>
					</div>
			</div>
		</if>
</div>