<link href="__PUBLIC__/Admin/js/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet">
<script src="__PUBLIC__/Admin/js/umeditor/umeditor.config.js"></script>
<script src="__PUBLIC__/Admin/js/umeditor/umeditor.min.js"></script>
<script>
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor",{
		"imageUrl":"{:U('Product/uploadImage')}", //图片上传提交地址
		"imagePath":"__PUBLIC__/Uploads/desc/"  //图片显示地址
		});
	});
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor2",{
		"imageUrl":"{:U('Product/uploadImage')}", //图片上传提交地址
		"imagePath":"__PUBLIC__/Uploads/desc/"  //图片显示地址
		});
	});
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor3",{
		"imageUrl":"{:U('Product/uploadImage')}", //图片上传提交地址
		"imagePath":"__PUBLIC__/Uploads/desc/"  //图片显示地址
		});
	});
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor4",{
		"imageUrl":"{:U('Product/uploadImage')}", //图片上传提交地址
		"imagePath":"__PUBLIC__/Uploads/desc/"  //图片显示地址
		});
	});
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor5",{
		"imageUrl":"{:U('Product/uploadImage')}", //图片上传提交地址
		"imagePath":"__PUBLIC__/Uploads/desc/"  //图片显示地址
		});
	});
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor6",{
		"imageUrl":"{:U('Product/uploadImage')}", //图片上传提交地址
		"imagePath":"__PUBLIC__/Uploads/desc/"  //图片显示地址
		});
	});
</script>